<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AccessManagerSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="AccessManagerSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webjedmics.net/jedmicsws/services/AccessManager"
                binding="basicHttpBinding" bindingConfiguration="AccessManagerSoapBinding"
                contract="JAccessManager.AccessManagerObj" name="AccessManager" />
        </client>
    </system.serviceModel>
</configuration>